.preview{
    height: 10%;
    width: 10%;
}

.nexttoeachother{
    display: flex;
    justify-content: space-between;
}

.imgaginecumine{
    height: 65.85%;
    width: 55%;
    margin-left: 10%;
}

*{
    color: white;
    background-color: black;
}

.logo_steps{
    height: 5%;
    width: 5%;
}

.culoareHere{
    color: pink;
}

.levelandnotes{
    margin-right: 65%;
}

/* for html_css notes page */

.center_title{
    text-align: center;
}

.fornotes{
    margin-top: -10%;
}

.fornotehoriz{
    margin-top: -1%;
}

.totheleft{
    margin-left: -5%;
}

.totheright{
    margin-right: 5%;
}

.siteprev{
    margin-left: 10%;
    height: 80%;
    width: 80%;
}

.nexttoeachother2{
    display: flex;
    justify-content: space-evenly;
}